doctype html

html(lang=path || 'en')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="renderer" content="webkit")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content=__('How fast is your internet speed? Take our test to connect to dozens of public popular resources to see your results.'))
    link(
      rel="shortcut icon",
      type="image/png",
      href=require('../assets/favicon.png'),
    )

    title= __('FastTest')
  body
    header#header
      .container
        a.navbar-brand(
          href="/",
          title= __('FastTest')
        )
          img(
            src=require('../assets/logo.svg'),
            alt=__('FastTest'),
          )

        .lang
          input#lang-toggler(
            type="checkbox",
            hidden,
          )
          label(for="lang-toggler")= language

          .dropdown
            each path, lang  in langs
              a.dropdown-item(href= path ? '/' + path + '/' : '/')= lang

    #ads

    h1#start-title= __('Test your network speed')
    h1#result-title(hidden)= __('Your internet speed index:')

    include start.pug
    include testing.pug
    include result.pug

    .test-items
      each testCase in cases
        .test-item
          .test-item-title= testCase.title
          .test-item-starts
            span.star
            span.star
            span.star
            span.star
            span.star

    include intro.pug

    footer#footer= __('© 2021 Fasttest. All Rights Reserved')
      small.ml-1= 'v' + version

    script(
      async,
      src="https://unpkg.com/axios@0.21.1/dist/axios.min.js",
    )
    script(
      async，
      src="https://www.googletagmanager.com/gtag/js?id=UA-25873290-18",
    )
