#result.result(hidden)
  .score
    .score-number 86
    .progress
      .progress-bar

  button#restart-button.restart-button(
    type="button",
  ) Restart

  h5.share-title Share
  .share-buttons
    button.share-button(
      type="button"
    )
      img(src=require('../assets/share-facebook.png'))
    button.share-button(
      type="button"
    )
      img(src=require('../assets/share-twitter.png'))
    button.share-button(
      type="button"
    )
      img(src=require('../assets/share-google.png'))
