#result.result(hidden)
  .score
    .score-number
    .progress
      .progress-bar

  button#restart-button.restart-button(
    type="button",
  )= __('Restart')

  h5.share-title= __('Share')
  .share-buttons
    a.share-button(
      href="https://www.facebook.com/sharer/sharer.php?u=https://afasttest.com",
      target="_blank",
      title="Share to Facebook",
    )
      img(src=require('../assets/share-facebook.svg'))
    a.share-button(
      href="https://twitter.com/intent/tweet?url=https://afasttest.com",
      target="_blank",
      title="Share to Twitter",
    )
      img(src=require('../assets/share-twitter.svg'))
